pyreadline<=1.7.1.dev-r0
colorama
cloudmesh_base
future
docopt
pyaml
simplejson
python-hostlist
prettytable
sqlalchemy
urllib3
requests
sandman
gitchangelog
six
python-novaclient
cloudmesh_timestring
pycrypto
httpsig
